<html>
<head>
   <title>镜像管理</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/bluebox.css" rel="stylesheet">
   <link href="/static/css/flat-ui.css" rel="stylesheet">
   <script src="/static/js/jquery.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
</head>
<body> 
    <div id="wrapper"> 
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
           <div class="navbar-header">
               <span class="navbar-brand"><font style="color:white">JAE</font></span>
           </div>
           <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/admin/"><i class="fa fa-fw fa-dashboard"></i> 总体概览</a>
                    </li>
                    <li class="active">
                        <a href="/admin/images"><i class="fa fa-fw fa-bar-chart-o"></i> 镜像管理</a>
                    </li>
                    <li>
                        <a href="/admin/containers"><i class="fa fa-fw fa-table"></i> 容器管理</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="搜索">
                    </div>
                </form>

           </div>
        </nav>

        <div id="page-wrapper">
            {% load pagination_tags %}
            {% autopaginate images_list 10 %}
            <div class="container-fluid">
                <div class="panel panel-default">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <thead style="border:1px solid #bebebe;">
                            <th style="width:10%">ID</th>
                            <th style="width:35%">RepoTags</th>
                            <th style="width:15%">Project</th>
                            <th style="width:10%">ContainerCount</th>
                            <th style="width:10%">Size</th>
                            <th style="width:10%">VirtualSize</th>
                        </thead>
                        <tbody style="border:1px solid #bebebe">
                            {% for item in images_list %}
                                <tr>
                                    <td>{{ item.Id | slice:"12" }}</td>
                                    <td>{{ item.RepoTags | join:"  " }}</td>
                                    <td>{{ item.ProjectName }}</td>
                                    <td>{{ item.ContainerCount }}</td>
                                    <td>{{ item.Size | filesizeformat }}</td>
                                    <td>{{ item.VirtualSize | filesizeformat }}</td>
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
             </div>
             {% paginate %}
        </div>
    </div>
</body>
</html>
