<div id="projectInfo" class="modal-body">
    <pre> 容器名称    {{ container_info.name }}</pre>
    <pre> 容器ID      {{ container_info.id}}</pre>
    <pre> 所属项目    {{ container_info.project}}</pre>
    <pre> 所属环境    {{ container_info.env}}</pre>
    <pre> 版本库      {{ container_info.hgs }}</pre>
    <pre> 版本分支    {{ container_info.code }}</pre>
    <pre> 访问方式    {{ container_info.access }}</pre>
    <pre> 创建时间    {{ container_info.created }}</pre>
    <pre> 创建者      {{ container_info.createdby }}</pre>
    <pre> 状态        {{ container_info.status }}</pre>
</div>

