<div id="largeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">创建项目</h4>
            </div>
            <div class="modal-body">
                <form id="project" class="form-horizontal" action="/projects/create/" method="POST" >
                    {% csrf_token %}
                    <div class="control-group name">
                        <label cass="control-label" for="name">项目名称</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="name" name="project_name" width=200px;>
                            <span class="help-inline">(项目的名称,必填项)</span>
                        </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label" for="">管理员</label>
                      <div class="controls">
                          <input type="text" class="form-control" id="admin" name="project_admin">
                          <span class="help-inline">(项目的管理员，必填项)</span>
                      </div>  
                    </div>
                    <!--<div class="control-group">
                      <label class="control-label" for="">管理员邮箱</label>
                      <div class="controls">
                          <input type="text" class="form-control" id="email" name="admin_email">
                          <span class="help-inline">(管理员的邮箱，必填项)</span>
                      </div>  
                    </div>-->
		    <div class="control-group project">
                      <label class="control-label" for="image">基础镜像</label>
                      <div class="controls">
                          <select id='image_list' class="form-control" name="image_name" style="width:350px">  
                            <option value="-1">请选择</option>
                          </select>  
                        <span class="help-inline">(项目所需的基础镜像)</span>
                      </div>
                    </div>

                  <div class="control-group version">
                  <label class="control-label" for="version">项目描述</label>
                  <div class="controls">
                    <input type="text" class="form-control" id="desc" name="project_desc"></textarea>
                    <span class="help-inline">(项目简单描述,可选项)</span>
                  </div>
                </div>
            </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-primary btn-ok" data-dismiss="modal" onclick="createProject()">确定</button>
    </div>
</div>
</div>
</div>
<script>
function createProject()
{
    var project_name = document.getElementById('name').value;
    var project_admin = document.getElementById('admin').value;
    var project_desc = document.getElementById('desc').value;
    //var admin_email = document.getElementById('email').value;
    var admin_email = project_admin + "@jumei.com"; 

    var http = new createXmlHttpRequest();
    var url ="/projects/create/";
    var params = "name=" + project_name + "&desc=" + project_desc + "&admin=" + project_admin + "&email=" + admin_email;
    var token = '{{ csrf_token }}'; 
    
    http.open("POST",url,true);
    http.setRequestHeader('X-CSRFToken', token);
    http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    http.setRequestHeader("Content-length",params.length);
    http.setRequestHeader("Connection", "close");
    http.onreadystatechange = function() {
        if(http.readyState == 4 && http.status == 200) {
            var content = http.response;
            var status = http.response.status; 
            if (status == 200){
                $.notify("创建成功", "success");
            }
            window.location.reload();
        }
    }
    http.responseType = 'json';
    http.send(params);

    $("a[href='#projectinfo']").click(function(e) {
      var $href = '/projects/detail';
      var $url = $href;
      $.ajax({
            type: "GET",
            url: $url }).done(function( data ) {
                $("#projectinfo").html(data);
        });
    });
}
$('#createProjectModal').on('shown.bs.modal', function() {
        var url = "/images/base";
        $.ajax({
              type: "GET",
              dataType: "json",
              url: url }).done(function( data ) {
              $("#image_list option[value !='-1']").remove();
              for (var i in data){
                $("#image_list").append("<option value=" + data[i].ID + ">" + data[i].ImageName + ":" + data[i].ImageTag + "</option>");
              }
        });
});

</script>


