<div class="panel-heading heading-large">
                <!--<span class="section-toolbar">
                {% ifequal role 'admin' %}
                <a id="hg-refresh" href="#"  style="margin-left:5px;">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                {% endifequal %}
                </span>-->
            {% ifequal role 'admin' %}
                <span class="pull-right">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createHgModal">添加</button>
                </span>
            {% endifequal %}
                    <!--{% ifequal role 'admin' %}
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createHgModal">添加</button>
                    {% else %}
                    <a id="hg-refresh" href="#">
                        <span class="glyphicon glyphicon-refresh" style="top:5px;"></span>
                    </a>
                    {% endifequal %}
                </span>-->
</div>
<script>
$("#hg-refresh").click(function(e) {
        var project_id = "{{ project_info.id }}";
        var url = '/hgs/refresh?project_id=' + project_id;
        $.ajax({
            type: "GET",
            url: url }).done(function( data ) {
                $("#hg-table").html(data);
            });
});
</script>


