<div id="hg-table-{{project_info.id}}" class="panel panel-default">
</div>

<script>
$('#hg-table-{{project_info.id}}').on("click",".delete-hg",function() {
        var row = $(this).closest("tr");    
        var text = row.find(".fp").text();
        var href= "/hgs/delete";
        var url = href + "?id=" + text; 
        $.ajax({
              type: "GET",
              dataType: "json",
              url: url }).done(function( data ) {
                var project_id = '{{ project_info.id }}';
                var _url = "/hgs/refresh?project_id=" + project_id;
                $.ajax({
                    type: "GET",
                    url: _url }).done(function( data ) {
                        $("#hg-table-{{project_info.id}}").html(data);
                });

        });
   });
</script>

