<div id="image-table-{{project_info.id}}" class="panel panel-default">
</div>
<script>
$('#image-table-{{project_info.id}}').on("click",".delete-image",function() {
        var $row = $(this).closest("tr");    
        var $text = $row.find(".fp").text();
        var $href= "/images/delete" 
        var xmlHttpRequest;
        xmlHttpRequest = createXmlHttpRequest();
        xmlHttpRequest.onreadystatechange = getResult;
        var $url = $href + "?id=" + $text + "&f=0";

        xmlHttpRequest.open("GET",$url,true);
        xmlHttpRequest.send(null);

        function getResult(){
            if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
                var $content = xmlHttpRequest.responseText;
                if ($content == 'succeed'){
                    var url = '/images/update?project_id=' + {{ project_info.id }};
                    $.ajax({
                        type: "GET",
                        url: url }).done(function( data ) {
                                $("#image-table").html(data);
                    });
                }
            }
        }
    });
$("#image-table-{{project_info.id}}").on("click",".delete-image-force",function() {
        var $row = $(this).closest("tr");    
        var $text = $row.find(".fp").text();
        var $href= "/images/delete" 
        var xmlHttpRequest;
        xmlHttpRequest = createXmlHttpRequest();
        xmlHttpRequest.onreadystatechange = getResult;
        var $url = $href + "?id=" + $text + "&f=1";

        xmlHttpRequest.open("GET",$url,true);
        xmlHttpRequest.send(null);

        function getResult(){
            if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
                var $content = xmlHttpRequest.responseText;
                if ($content == 'succeed'){
                    var url = '/images/update?project_id=' + {{ project_info.id }};
                    $.ajax({
                        type: "GET",
                        url: url }).done(function( data ) {
                            $("#image-table-{{project_info.id}}").html(data);
                    });
                }
            }
        }
    });


</script>

