<div id="saveImageModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" style="margin:0px;padding:0px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">保存镜像</h4>
            </div>
            <div id="editWindow" class="modal-body" style="background:#fff;margin:0px;padding:0px;">
		<label cass="control-label" style="margin-left:150px;margin-top:10px;margin-bottom:10px;" >
		    将当前修改保存成新镜像,还是保存到当前镜像?输入保存的镜像名称,默认为保存到当前镜像.
		</label>
                <div class="controls">
                    <input type="text" class="form-control" id="image_n" name='image_n' style="width:300px;margin-left:250px;margin-bottom:10px;">
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0px;">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" class="btn btn-primary btn-ok" data-dismiss="modal" onclick="saveImage()">确定</button>
            </div>
        </div>
    </div>
</div>

<script>
	function saveImage(){
		alert('save-image');
	}	
</script>

