<div class="panel-heading heading-large">
        {% ifequal role 0 %}
        <span class="pull-right">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createImageModal">创建</button>
        </span>
        {% endifequal %}
        <span class="pull-right">
            <button class="btn btn-primary btn-sm image-refresh">刷新</button>
        </span>
	
</div>
<script>
$(".image-refresh").click(function(e) {
        var project_id = "{{ project_info.id }}";
        var url = '/images/update?project_id=' + project_id;
        $.ajax({
            type: "GET",
            url: url }).done(function( data ) {
                $("#image-table-{{project_info.id}}").html(data);
            });
});
</script>


