<table class="table table-striped table-bordered table-hover table-condensed">
	<tbody>
	    {% for item in image_list %}
		{% if role == 'admin' %}
	        <tr>
	            <td class="fp" style="display:none">{{ item.ID }}</td>
	            <td width="15%" class="name">{{ item.ImageName }}</td>
	            <td width="10%" class="tag">{{ item.ImageTag }}</td>
	            <td width="20%">{{ item.ImageDesc }}</td>
	            <td width="20%" style="text-align:right">{{ item.CreatedTime }}</td>
	            {% if item.Status == 'building' %}
	            <td class="status">
	            <div class="progress" style="width:60px;margin-bottom:0px;margin-top:2px">
	                <div class="progress-bar progress-bar-striped active"   role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	                    <span class="show">正在构建</span>
	                  </div>
	            </div>
	            </td>
	            {% elif item.Status == 'ok' %}
	            <td width="15%" style="text-align:right" class="status">
	                <div class="progress" style="width:60px;margin-bottom:0px;margin-top:2px">
	                    <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	                        <span class="show">构建成功</span>
	                     </div>
	               </div> 
	            </td>
	            {% elif item.Status == 'deleting' %}
	            <td class="status text-center">
	            <div class="progress" style="width:60px;margin-bottom:0px;margin-top:2px">
	                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	                    <span class="show">正在删除</span>
	                  </div>
	            </div>
	            </td>
	            {% else %}
	            <td class="status text-center">
	                <font size="2" color="green"><b>{{ item.Status }}</b></font> 
	            </td>
	            {% endif %}
		    <td >
	                 <div class="btn-group btn-group-sm pull-right">
	                    <button class="btn btn-mini btn-primary edit-image">编辑
			    </button>
	                    <button class="btn btn-mini btn-warning delete-image">删除
			    </button>
	                    <button class="btn btn-mini btn-danger delete-image-force">彻底删除
			    </button>
			</div>
		    </td>
	        </tr>
		{% else %}
		<tr>
		    <td class="fp" style="display:none">{{ item.ID }}</td>
	            <td width="25%" class="name">{{ item.ImageName }}</td>
	            <td width="25%" class="tag">{{ item.ImageTag }}</td>
	            <td width="25%">{{ item.ImageDesc }}</td>
	            <td width="25%" style="text-align:right">{{ item.CreatedTime }}</td>
		</tr>
		{% endif %}

	    {% endfor %} 
	</tbody>
</table>
