<div class="panel-heading heading-large">
        <span class="section-toolbar">
        {% ifequal role 'admin' %}
        <a id="image-refresh" style="margin-left:5px;">
        <span class="glyphicon glyphicon-refresh"></span>
        </a>
        {% endifequal %}
        </span>
        <span class="pull-right">
        {% ifequal role 'admin' %}
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createImageModal">创建</button>
        {% else %}
            <a id="image-refresh" href="#">
                <span class="glyphicon glyphicon-refresh" style="top:5px;"></span>
            </a>
        {% endifequal %}
        </span>
</div>
<script>
$("#image-refresh").click(function(e) {
        var project_id = "{{ project_info.id }}";
        var url = '/images/update?project_id=' + project_id;
        $.ajax({
            type: "GET",
            url: url }).done(function( data ) {
                $("#image-table").html(data);
            });
});
</script>


