<div id="image-table-{{project_info.id}}" class="panel panel-default">
</div>
<script>
$('#image-table-{{project_info.id}}').on("click",".delete-image",function() {
        var $row = $(this).closest("tr");    
        var $text = $row.find(".fp").text();
        var $href= "/images/delete" 
        //var xmlHttpRequest;
        //xmlHttpRequest = createXmlHttpRequest();
        //xmlHttpRequest.onreadystatechange = getResult;
        //var $url = $href + "?id=" + $text + "&f=0";
        var url = $href + "?id=" + $text + "&f=0";

        //xmlHttpRequest.open("GET",$url,true);
        //xmlHttpRequest.send(null);

        var html=' \
                <div class="progress" style="width:60px;margin-bottom:0px;margin-top:2px"> \
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> \
                  <span class="show">正在删除</span> \
                   </div> \
               </div> \
             ';
        $row.find(".status").children().remove();
        $row.find(".status").append($(html));
	$.ajax({
            type: "GET",
	    dataType: "json",
            url: url }).done(function( data ) {
		if (data.status = 409){
			alert("409");
		}
        });
	

        //function getResult(){
        //   if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
        //        var $content = xmlHttpRequest.responseText;
        //        if ($content == 'succeed'){
        //           var url = '/images/update?project_id=' + {{ project_info.id }};
        //            $.ajax({
        //                type: "GET",
        //                url: url }).done(function( data ) {
        //                        $("#image-table").html(data);
        //            });
        //        }
        //    }
        //}
    });
$("#image-table-{{project_info.id}}").on("click",".delete-image-force",function() {
        var $row = $(this).closest("tr");    
        var $text = $row.find(".fp").text();
        var $href= "/images/delete" 
        var xmlHttpRequest;
        xmlHttpRequest = createXmlHttpRequest();
        xmlHttpRequest.onreadystatechange = getResult;
        var $url = $href + "?id=" + $text + "&f=1";

        xmlHttpRequest.open("GET",$url,true);
        xmlHttpRequest.send(null);

        var html=' \
                <div class="progress" style="width:60px;margin-bottom:0px;margin-top:2px"> \
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> \
                  <span class="show">正在删除</span> \
                   </div> \
               </div> \
             ';
        $row.find(".status").children().remove();
        $row.find(".status").append($(html));


        function getResult(){
            if (xmlHttpRequest.readyState == 4 && xmlHttpRequest.status == 200){
                var $content = xmlHttpRequest.responseText;
                if ($content == 'succeed'){
                    var url = '/images/update?project_id=' + {{ project_info.id }};
                    $.ajax({
                        type: "GET",
                        url: url }).done(function( data ) {
                            $("#image-table-{{project_info.id}}").html(data);
                    });
                }
            }
        }
});
$("#image-table-{{project_info.id}}").on("click",".edit-image",function() {
    var row = $(this).closest("tr");    
    var id = row.find(".fp").text();
    var name = row.find(".name").text();
    var tag = row.find(".tag").text();
    var url = '/images/edit?id=' + id;
    $.ajax({
        type: "GET",
	dataType: "json",
        url: url }).done(function( data ) {
		$('#sshFrame').attr("src",data.url);
		$('#img_name').attr("value",data.name);
		$('#img_name_2').attr("value",data.name);
	        $('#imgName').attr("value",name + ":" + tag);	
	        $('#imgId').attr("value",id);	
    		$('#editModal').modal('show');
    });

});


</script>

