<div class="panel-heading heading-large" >
                <!--<span class="section-toolbar">
                {% ifequal role 'admin' %}
                <a id="user-refresh" href="#"  style="margin:10px;">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                {% endifequal %}
                </span>-->
                <span class="pull-right">
                    {% ifequal role 'admin' %}
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createMemberModal">添加</button>
                    <!--{% else %}
                    <a id="user-refresh" href="#">
                        <span class="glyphicon glyphicon-refresh" style="top:5px;"></span>
                    </a>-->
                    {% endifequal %}
                </span>
            </div>
<script>
$("#user-refresh").click(function(e) {
        var project_id = "{{ project_info.id }}";
        var url = '/users/refresh?project_id=' + project_id;
        $.ajax({
            type: "GET",
            url: url }).done(function( data ) {
                $("#member-table").html(data);
            });
});
</script>


