<div id="createMemberModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">添加用户</h4>
                    </div>
                    <div class="modal-body">
                        <form id="member" class="form-horizontal" action="/members/create/" method="POST" >
                        {% csrf_token %}
                            <div class="control-group name">
                                <label cass="control-label" for="name">名称</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="user_name" name='user_name' style="width:152px">
                                    <span class="help-inline">(用户的名称,邮箱@前面的部分,必填项)</span>
                                </div>
                            </div>
                            {% if role == -1 %}
                            <div class="control-group role">
                                <label class="control-label" for="environ">角色</label>
                                <div class="controls">
                                    <select  class="form-control" id="role" name="user_role">  
                                        <option value="-1">请选择</option>
                                        <option value="0">运维</option>
                                        <option value="1">开发</option>
                                        <option value="2">测试</option>
                                        <option value="3">产品</option>
                                    </select>
                                    <span class="help-inline">(用户在项目中的角色，必选项)</span>
                                </div>  
                            </div>
                            {% endif %}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary btn-ok" data-dismiss="modal" onclick="createMember()">确定</button>
                    </div>
              </div>
            </div> 
</div>
<script>
function createMember()
{
    var project_id = '{{ project_info.id }}';
    var user_name = document.getElementById('user_name').value;
    var user_email= user_name + "@jumei.com"; 
    if (document.getElementById("role")) {
        var role_id = document.getElementById('role').value;
    }
    else { 
        var role_id = {{ role }};
    }
    if ( ! user_name || ! user_email || role_id == '-1' ) { return };

    var http = new createXmlHttpRequest();
    var url ="/users/create/";
    var params = "project_id=" + project_id + "&name=" + user_name + "&email=" + user_email + "&role_id=" + role_id + "&swan=1";
    var token = '{{ csrf_token }}'; 
    
    http.open("POST",url,true);
    http.setRequestHeader('X-CSRFToken', token);
    http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
    http.setRequestHeader("Content-length",params.length);
    http.setRequestHeader("Connection", "close");
    http.onreadystatechange = function() {
        if(http.readyState == 4 && http.status == 200) {
            var content = http.response;
            //var status = http.response.status;
            var status = 200;
            var url = '/users/refresh?project_id=' + project_id;
            if (status == 200){
                $.ajax({
                        type: "GET",
                        url: url }).done(function( data ) {
                            $("#member-table-{{project_info.id}}").html(data);
                });
            }
        }
    }
    http.responseType = 'json';
    http.send(params);
}
</script>
