<div class="panel panel-default">
        <div class="panel-heading heading-large">
            <!--<span class="panel-title section-title" style="padding:5px;">项目</span>-->
            <span class="section-toolbar">
                {% ifequal role 'admin' %}
                <!--<button class="btn btn-blue btn-sm">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>-->
                <a href="/projects/" style="margin-left:5px;">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                {% endifequal %}
            </span>
            <span class="pull-right" style="padding-top:5px;">
                {% ifequal role 'admin' %}
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#largeModal">创建</button>
                {% else %}
                    <a href="/projects/" style="width:10px;height:20px;">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                {% endifequal %}
            </span>
        </div>
        <div class="panel-body">
            {% include 'create-project-modal.html' %}
            {% include 'modify-project-modal.html' %}
            {% include 'info-project-modal.html' %}
            {% include 'project-table.html' %}
        </div>
</div>
