  <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#projectinfoTab">项目详情</a></li>
        <li><a data-toggle="tab" href="#projectMembersTab">项目成员</a></li>
        <li ><a data-toggle="tab" href="#imagesTab">镜像</a></li>
        <li><a data-toggle="tab" href="#containersTab">容器</a></li>
    </ul>
    
    <div class="tab-content">
        <div id ="imageTab" class="tab-pane fade in active">
            <div> image</div>
        </div>
        <div id ="projectinfoTab" class="tab-pane fade ">
            <div>project</div>
        </div>
        <div id ="projectMembersTab" class="tab-pane fade ">
            <div>members</div>
        </div>
        <div id ="containersTab" class="tab-pane fade ">
            <div>containers</div>
        </div>
    </div>

