<html>
<head>
   <title>项目管理</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/dashboard.css" rel="stylesheet">
   <link href="/static/css/font-awesome.css" rel="stylesheet">
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <!--<link href="/static/css/font-awesome.min.css" ref="stylesheet">-->

   <script src="/static/js/jquery.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/notify.js"></script>
   <script src="/static/js/notify-min.js"></script>

</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
       <div class="navbar-header" style="margin-left:20px">
           <span class="navbar-brand"><font style="color:white">聚美优品JAE平台</font></span>
       </div>
       <ul id="nav" class="nav navbar-nav navbar-right" style="margin-right:20px">
            <li >
                <a style="height:40px;padding:10px;"><font style="color:white;margin-top:0px;">{{ auth_username }}</font></a>
            </li>
            <li>
                <a style="height:40px;padding:10px;" href="/accounts/logout/"><font style="color:white">退出</font></a>
            </li>
       </ul>
    </nav>
    <div style="margin-top:80px;margin-bottom:100px">
        <!--{% for item in projects_list %}
        <a class="icon-view" href="/projects/{{item.id}}" style="text-decoration:none;">
            <div class="icon-wrapper">
                <div class="icon-img" style="text-align:center;padding-top:20px">
                    <img width="80px" height="80px" src="/static/img/docker.png">
                </div>
            </div>
            <div class="icon-name">{{ item.name }}</div>
        </a>
        {% endfor %}-->
        <table id="projects-table" style="float:left" class="table table-striped table-bordered table-hover table-condensed">
            <tbody>
                {% for item in projects_list %}
                <tr>
                    <td> {{ item.name }} </td>
                    <td class="text-center"> <a style="text-decoration:underline" href="/projects/{{item.id}}"> 进入项目</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
       <!--<div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav side-nav" id="project-side-list">-->
                   <!--<li class="active">
                       <a data-toggle="tab" href="#projectList">
                            <i class="fa fa-fw fa-dashboard"></i>
                            <span>项目列表</span>
                            <span class="main-nav-count" title="total projects">{{ projects_list | length }}</span>
                       </a>
                   </li>-->
                        <!--{% for item in projects_list %}
                        <li>
                            <!--<a value="{{ item.id }}" href="/projects/{{item.id}}">-->
                            <!--<a value="{{ item.id }}" data-toggle="tab" href="#projectinfo">
                                <span style="margin-left:15px;color:#000;">{{ item.name }}</span>
                            </a>
                        </li>
                        {% endfor %}
           </ul>
       </div>
   </nav>
   <div id="page-wrapper">
       <div class="container-fluid">
           <div class="tab-content">
               <div id ="projectList" class="tab-pane fade in active">
               </div>
               <div id ="projectinfo" class="tab-pane fade">
               </div>
           </div>
       </div>
   </div>-->
</div>
<script src="/static/js/projects.js"></script>
<script>
    $(document).ready( function () {
        $('#projects-table').bdt();
    });
</script>
</body>
</html>
