<ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#projectinfoTab">项目详情</a></li>
        <li><a data-toggle="tab" href="#projectMembersTab">项目成员</a></li>
        <li><a data-toggle="tab" href="#projectHgTab">版本库</a></li>
        <li ><a data-toggle="tab" href="#imagesTab">镜像</a></li>
        <li><a data-toggle="tab" href="#containersTab">容器</a></li>
</ul>
    
<div class="tab-content">
    <div id ="projectinfoTab" class="tab-pane fade in active">
        {% include 'project-info.html' %}
    </div>
    <div id ="projectMembersTab" class="tab-pane fade">
        {% include 'project-members.html' %}
    </div>
    <div id ="projectHgTab" class="tab-pane fade">
        {% include 'project-hgs.html' %}
    </div>
    <div id ="imagesTab" class="tab-pane fade">
        {% include 'project-images.html' %}
    </div>
    <div id ="containersTab" class="tab-pane fade">
        {% include 'project-containers.html' %}
    </div>
</div>
<script>
$("a[href='#projectinfoTab']").on('show.bs.tab',function(e){
    var project_id = "{{ project_info.id }}";
    var url = '/projects/info?project_id=' + project_id;
    $.ajax({
        type: "GET",
        url: url }).done(function( data ) {
            $("#info-table-{{project_info.id}}").html(data);
        });
});

$("a[href='#projectMembersTab']").on('show.bs.tab',function(e){
    var project_id = "{{ project_info.id }}";
    var url = '/users/refresh?project_id=' + project_id;
    $.ajax({
        type: "GET",
        url: url }).done(function( data ) {
            $("#member-table-{{project_info.id}}").html(data);
        });
});
$("a[href='#projectHgTab']").on('show.bs.tab',function(e){
    var project_id = "{{ project_info.id }}";
    var url = '/hgs/refresh?project_id=' + project_id;
    $.ajax({
        type: "GET",
        url: url }).done(function( data ) {
            $("#hg-table-{{project_info.id}}").html(data);
        });
});
$("a[href='#imagesTab']").on('show.bs.tab',function(e){
    var project_id = "{{ project_info.id }}";
    var url = '/images/update?project_id=' + project_id;
    $.ajax({
        type: "GET",
        url: url }).done(function( data ) {
            $("#image-table-{{project_info.id}}").html(data);
        });
});


$("a[href='#containersTab']").on('show.bs.tab', function(e) {
    var project_id = "{{ project_info.id }}";
    var url = '/containers?project_id=' + project_id + '&user_id=' + "{{ user_id }}";
    $.ajax({
        type: "GET",
        url: url }).done(function( data ) {
            $("#container-table-{{project_info.id}}").html(data);
        });
});
$(document).ready(
       function () {
          setInterval(function() {
             var url='/images/update?project_id=' + '{{ project_info.id }}';
             $.ajax({
                type: "GET",
               url:url }).done(function( data ) {
                   $("#image-table-{{project_info.id}}").html(data);
               });
	     var url='/containers/status?project_id=' + '{{ project_info.id }}' + "&user_id=" + '{{user_id}}';
	     $.ajax({
		type:"GET",
		url:url}).done(function(data){
			alert(data);
		    if (data != "stop"){
			var url='/containers/update?project_id=' + '{{ project_info.id }}' + "&user_id=" + '{{user_id}}';
                        $.ajax({
                           type: "GET",
                           url:url }).done(function( data ) {
                           $("#container-table-{{project_info.id}}").html(data);
                         });
		     }
		});
             
         },5000);
});
</script>

