<div class="panel panel-default">
       {% if platform_role == 'admin' %}
        <div class="panel-heading heading-large">
            <span class="pull-right">
                    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#createProjectModal">创建</button>
            </span>
        </div>
	{% endif %}
        <div class="panel-body">
            {% include 'create-project-modal.html' %}
            {% include 'modify-project-modal.html' %}
            {% include 'info-project-modal.html' %}
            {% if project_list.count != 0  %}
                {% include 'project-table.html' %}
            {% else %}
                {% include 'project-table-empty.html' %}
            {% endif %} 
        </div>
</div>
