<html>
<head>
   <title>项目管理</title>
   <link href="/static/css/bootstrap.css" rel="stylesheet">
   <link href="/static/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/css/dashboard.css" rel="stylesheet">

   <script src="/static/js/jquery.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/notify.js"></script>
   <script src="/static/js/notify-min.js"></script>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
       <div class="navbar-header">
           <span class="navbar-brand"><font style="color:white">聚美优品JAE平台</font></span>
       </div>
       <ul id="nav" class="nav navbar-nav navbar-right">
            <li >
                <a style="height:40px;padding:10px;"><font style="color:white;margin-top:0px;">{{ auth_username }}</font></a>
            </li>
            <li>
                <a style="height:40px;padding:10px;" href="/accounts/logout/"><font style="color:white">退出</font></a>
            </li>
       </ul>
       <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav side-nav" id="project-side-list">
                   <li class="active">
                       <a data-toggle="tab" href="#projectList"><i class="fa fa-fw fa-dashboard"></i>
                             项目列表
                       </a>
                   </li>
                        {% for item in projects_list %}
                        <li>
                        <a value="{{ item.ProjectId }}" data-toggle="tab" href="#projectinfo"><i class="fa fa-fw fa-dashboard"></i>
                                <span class="glyphicon glyphicon-th-list"></span>
                                {{ item.ProjectName }}
                            </a>
                        </li>
                        {% endfor %}
           </ul>
       </div>
   </nav>
   <div id="page-wrapper">
       <div class="container-fluid">
           <div class="tab-content">
               <div id ="projectList" class="tab-pane fade in active">
               </div>
               <div id ="projectinfo" class="tab-pane fade">
               </div>
           </div>
       </div>
   </div>
</div>
<script src="/static/js/projects.js"></script>
</body>
</html>
