<div class="panel panel-default">
    <div class="panel-heading heading-large">
        <span class="pull-right" style="display:none">
                <button class="btn btn-success btn-sm ct_ctn" data-toggle="modal" data-target="#createContainerModal">编辑</button>
        </span>
    </div>
    <div class="panel-body">
        <div id="info-table-{{project_info.id}}" class="panel panel-default">
            <table class="table table-striped table-bordered table-hover table-condensed" style="width:100%;table-layout:fixed;">
                <tbody style="border:1px solid #bebebe">
    	            <tr>
                        <td width="10%" style="font-size:14px">项目名称</td>
                        <td>{{ project_info.name }}</td>
    	            </tr>
    	            <tr>
                        <td style="font-size:14px">项目描述</td>
                        <td>{{ project_info.desc }}</td>
    	            </tr>
                    <tr>
                        <td style="font-size:14px">创建时间</td>
                        <td>{{ project_info.created }}</td>
    	            </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
